html {
  height: 100%;

  body {
    height: 100%;

    .btn {
      border: transparent;
    }

    a {
      text-decoration: none;
      color: inherit;
      display: block;

      &:hover {
        text-decoration: none;
        color: inherit;
      }
    }

    #background {
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/background.jpg);
      background-size: cover;
      background-position: bottom;
      height: 110px;
      margin: 0;
    }

    .navbar-custom {
      background-color: white;
      border-bottom: 1px solid #dbd9db;

      img {
        height: 48px;
        width: 48px;
        border-radius: 25px;
      }

      .text {
        font-family: "Farro", sans-serif;
      }

      button {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        width: 7em;
      }
    }

    main {
      background-color: #dae0e6;
      min-height: 78%;

      .container {
        .post {
          position: relative;
          background-color: white;
          border: 1px rgb(204, 204, 204) solid;
          border-radius: 4px;
          margin-bottom: 10px;
          transition: 0.1s ease-in;

          &:hover {
            filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.35));
          }

          .col-8 {
            font-family: "Ubuntu", "Open Sans", sans-serif;

            .title {
              font-weight: bolder;
              margin-bottom: 5px;
            }

            .author {
              font-size: 14px;
              margin-bottom: 10px;
            }

            .content {
              font-size: 15px;
              max-height: 115px;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
              mask-image: linear-gradient(180deg, #000 60%, transparent);
            }
          }

          .col-4 {
            .image {
              width: 100%;
              height: 190px;
              background-image: url(../images/cat.jpg);
              background-position: center;
              background-size: cover;
              background-clip: content-box;
            }
          }

          .toolbar {
            a {
              font-size: 14px;
              color: green;
              transition: 0.1s;
              padding: 0 5px;
              border-radius: 3px;

              &:hover {
                background: lightgray;
              }
            }

            z-index: 3;
          }

          .post-link {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-indent: -9999px;
            z-index: 2;
          }

        }

        .banners {
          background-clip: content-box;

          .banner {
            background-clip: content-box;
            background-color: white;
            text-align: center;
            margin-bottom: 10px;
            border: 1px rgb(204, 204, 204) solid;
            border-radius: 4px;

            &:hover {
              filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.35));
            }

            .banner-image {
              height: 200px;
              background-image: url(../images/cat.jpg);
              background-position: center;
              background-size: cover;
              background-clip: content-box;
            }

            .content {
              font-size: 16px;
              font-family: "Lato", sans-serif;
              overflow-wrap: break-word;
              margin-bottom: 0;
            }

            button {
              font-size: 14px;
              font-family: "Open Sans", sans-serif;
              font-weight: bolder;
              width: 95%;
              background: green;
            }
          }
        }
      }
    }

    #detail {
      h1 {
        text-align: center;
      }

      .body {
        font-size: 1.25rem;
      }

      .image {
        width: 100%;
        height: 400px;
        background-image: url(../images/cat.jpg);
        background-position: center;
        background-size: cover;
        background-clip: content-box;
      }

      .btn-custom {
        background-color: #ec2c22;
        color: white;
        width: 100%;
        border-radius: 5px;
        font-weight: bolder;
        margin: 10px 0;
      }

      .votes {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        //border: 1px solid green;
        // border-radius: 5px;
        //background: #98ff98;
      }

      .no-comments {
        font-size: 18px;
      }

      .custom-comment {
        background-color: #f5f5f5;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        position: relative;

        .author {
          font-size: 18px;
          font-weight: bolder;
        }

        .date {
          font-size: 12px;
          position: absolute;
          top: 5px;
          right: 5px;
        }

        .content {
          font-size: 15px;
          padding: 5px 0;
        }
      }
    }

    #create {
      .row {
        justify-content: center;
        background-color: white;
        margin-top: 20px;

        form {
          width: 100%;
        }
      }
    }

  }
}