* {
  box-sizing: border-box;
}

@font-face {
  font-family: Simplifica;
  src: url(../../../stugov-tas/img/simplifica.ttf);
}

html {

  .btn{
    border: transparent;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  scroll-behavior: smooth;

  .navbar-custom {
    z-index: 1000;
    position: fixed;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    transition: 0.15s ease-in-out;

    .navbar-brand {
      img {
        border-radius: 25px;
        width: 32px;
        height: 32px;
      }
    }

    .navbar-toggler {
      color: white;
    }

    .nav-item {
      font-size: 18px;

      .nav-link {
        color: white;
        font-size: 14px;

        &:hover {
          color: orange;
        }
      }
    }

  }

  @media (max-width: 768px) {
    .navbar-custom {
      background-color: #003600;
    }
  }

  #intro {
    background: linear-gradient(rgba(70, 32, 67, 0.8), rgba(70, 32, 67, 0.8)), url('../images/background.jpg');
    margin: 0;

    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      /* Full height */
      height: 100%;

      .intro-text {
        color: whitesmoke;
        padding-top: 15rem;
        padding-bottom: 13rem;
        text-align: center;

        .main-heading {
          font-family: "Montserrat", sans-serif;
          font-size: 6.8vh;
          font-weight: 1000;
        }

        .sub-heading {
          font-family: "Sintony", sans-serif;
          font-size: 2.5vh;
        }

      }

    }

    .btn-about {
      display: inline-block;
      border-radius: 16px;
      margin-top: 0.7rem;
      padding: 0.2rem 3em;
      background-color: rgb(0, 54, 0);
      color: whitesmoke;
      font-size: 18px;
      font-weight: 1000;
      font-family: "Montserrat", sans-serif;

      &:hover {
        background-color: rgb(0, 72, 0);
      }
    }
  }

  #about {
    background-color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 16px;

    .about-text {

      h1 {
        font-weight: bolder;
        line-height: 2rem;
        border-bottom: 0px solid black;
      }

      p {
        font-weight: 200;
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    .row {

      .content-heading {
        font-family: "Playfair Display", sans-serif;
        font-size: 2rem;
      }

      .btn-about {
        font-family: "Vollkorn", sans-serif;
        background-color: pink;
        color: black;
        font-weight: bolder;
      }

    }

  }

  #announcements {
    text-align: center;
    padding-bottom: 3.5rem;

    .event {
      border-bottom: darkgray solid 1px;
      padding: 2rem 0px;
      font-family: 'Noto Serif SC', sans-serif;

      .title {
        font-size: 2.3rem;
        font-weight: bolder;
      }

      .body {
        font-size: 0.9rem;
        font-weight: lighter;
        padding: 0 0rem;
      }
    }
  }

  #team {
    background-color: #1ED171;
    color: #05386d;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    transition: 0.3s ease-out;

    .main-heading {
      letter-spacing: -1px;
      font-weight: 900;
      border-bottom: 1px solid #05386d
    }

    .sub-heading {
      font-size: 2rem;
      font-weight: bold;
    }

    .officer-section {

      [class^="col-"],
      [class*=" col-"] {
        margin-bottom: 20px;
      }

      .img-container {
        position: relative;
        width: 236px;
        height: 236px;
        margin: 0 auto;

        img {
          object-fit: cover;
          border-radius: 10px;
          display: block;
          width: 100%;
          height: 100%
        }

        .overlay {
          position: absolute;
          height: 12%;
          width: 100%;
          bottom: 0;
          left: 0;
          right: 0;
          transition: .35s ease;
          background-color: #05386B;
          border-radius: 5px;
          font-size: 18px;
          color: #EDF5E1;
          font-family: "Roboto", sans-serif;
        }

        &:hover .overlay {
          height: 100%;
          opacity: 0.80;
        }
      }

      .subposition-title {
        font-style: italic;
        padding-bottom: 1rem;
        font-size: 1em;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        margin-bottom: 1.75rem;
        color: black;
      }
    }

    .member-section {
      color: darkblue;

      h4 {
        font-weight: bolder;
        border-bottom: 1px solid black;
      }

      .members {
        font-weight: bold;

      }
    }








  }

  #contact {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    background-color: #1f1f1f;

    form {
      .row {
        justify-content: center;

        textarea {
          min-height: 180px;
        }

        .hpot {
          display: none;
        }
      }
    }
  }

  footer {
    background-color: #1f1f1f;
    color: darkgray;
    text-align: center;
    font-size: 1rem;

    i {
      padding: 0 0.4rem;
      transition: 0.2s;
      font-size: 2rem;

      &:hover {
        color: white;
        transform: scale(1.25);
        transition: 0.15s ease-in;
        cursor: pointer;
      }
    }
  }

  .popover {
    background-color: pink;

    .popover-body {
      color: black;
    }
  }


























}