* {
  box-sizing: border-box;
}

@font-face {
  font-family: Simplifica;
  src: url(../img/simplifica.ttf);
}

html {

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  img.responsive {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  scroll-behavior: smooth;

  .navbar-custom {
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;

    .navbar-brand {
      img {
        width: 48px;
        height: 48px;
      }
    }

    .navbar-toggler {
      color: white;
    }

    .nav-item {
      font-size: 18px;

      .nav-link {
        color: gainsboro;

        &:hover {
          color: lightgreen;
        }
      }
    }

  }

  @media (max-width: 768px) {
    .navbar-custom {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  #intro {
    background: linear-gradient(rgba(70, 32, 67, 0.8), rgba(70, 32, 67, 0.8)), url(../img/background.jpg);
    margin: 0;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      /* Full height */
      height: 100%;

      .intro-text {
        color: whitesmoke;
        padding-top: 15rem;
        padding-bottom: 13rem;
        text-align: center;

        .main-heading {
          font-family: "Montserrat", sans-serif;
          font-size: 6.5vh;
          font-weight: 1000;
        }

        .sub-heading {
          font-family: "Sintony", sans-serif;
          font-size: 2.5vh;
        }

      }

    }

    .btn-about {
      display: inline-block;
      border-radius: 16px;
      margin-top: 0.7rem;
      padding: 0.2rem 3em;
      background-color: rgb(0, 54, 0);
      color: whitesmoke;
      font-size: 18px;
      font-weight: 1000;
      font-family: "Montserrat", sans-serif;
    }
  }

  #about {
    background-color: white;
    text-align: center;
    padding-top: 2rem;

    .row {
      margin-bottom: 16px;
      .about-text {
        h1 {
          font-weight: bolder;
          line-height: 2rem;
          border-bottom: 0px solid black;
          font-family: 'Lora', sans-serif;
          padding-bottom: 1.5rem;
        }

        p {
          font-weight: 200;
          font-size: 1.1rem;
          line-height: 1.5rem;
          margin-bottom: 7rem;
          font-family: "Open Sans", sans-serif;
        }
      }

      .content-heading {
        font-family: "Playfair Display", sans-serif;
        font-size: 2rem;
      }

      .btn-about {
        font-family: "Vollkorn", sans-serif;
        background-color: pink;
        color: forestgreen;
        font-weight: bolder;
      }

    }

  }

  #contact {
    background: #5cd895;
    color: #05386d;
    text-align: center;
    font-family: "Montserrat", sans-serif;

    .main-heading {
      letter-spacing: -1px;
      font-weight: 900;
    }

    .row {
      color: wheat;

      [class^="col-"],
      [class*=" col-"] {
        margin-bottom: 20px;
      }

      .img-container {
        position: relative;
        width: 236px;
        height: 236px;
        margin: 0 auto;

        img {
          object-fit: cover;
          border-radius: 10px;
          display: block;
          width: 100%;
          height: 100%
        }

        .overlay {
          position: absolute;
          height: 12%;
          width: 100%;
          bottom: 0;
          left: 0;
          right: 0;
          transition: .5s ease;
          background-color: #05386B;
          border-radius: 5px;
          font-size: 18px;
          color: #EDF5E1;
          font-family: "Roboto", sans-serif;
        }

        &:hover .overlay {
          height: 100%;
          opacity: 0.80;
        }
      }

      .subposition-title {
        font-style: italic;
        padding-bottom: 1rem;
        font-size: 0.90em;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        margin-bottom: 1.75rem;
        color: black;
      }
    }






  }

  #media {
    background-color: #1f1f1f;
    color: darkgray;
    text-align: center;
    font-size: 1rem;

    i {
      padding: 0 0.4rem;
      transition: 0.2s;
      font-size: 2rem;

      &:hover {
        color: white;
        transform: scale(1.25);
        transition: 0.15s ease-in;
        cursor: pointer;
      }
    }
  }





























  #portfolio {
    font-family: 'Karla', sans-serif;
    background-color: rgb(180, 223, 229);

    .section-heading {
      font-family: "Open Sans", sans-serif;
      font-size: 48px;
      font-weight: bolder;
    }

    .project-item {
      position: relative;

      .project-img {
        object-fit: cover;
      }

      .project-overlay {
        text-decoration: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: .3s;

        &:hover {
          background: rgba(0, 0, 0, 0.8);
          opacity: 1;
        }

        .project-title {
          color: #ffa600;
          font-size: 48px;
        }

        .project-text {
          font-size: 20px;
        }
      }
    }
  }
}