/* The Overlay (background) */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #0C0B10;
    /* Black fallback color */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    margin-top: 15%;
    margin-right: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #66FCF1;
}

.overlay-content #show-projects {
    margin-top: 20px;
}

/* Position the close button (top right corner) */

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}