html {
  height: 100%;

  body {
    font-family: "Roboto", "Lato", sans-serif;
    background-color: #4a46a4;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      margin-top: 110px;


      .row {
        .errorlist {
          color: red;
          font-size: 14px;
          padding: 10px 0px;
        }

        justify-content: center;

        img {
          width: 100px;
          height: 100px;
          margin: 5px;
        }

        .form {
          .heading {
            text-align: center;
          }

          background-color: white;
          padding: 25px;
          border-radius: 25px;

          button {
            background-color: #36af59;
          }

          span {
            display: block;
            text-align: center;
            font-size: 16px;
            color: gray;

            a {
              color: blue;
            }
          }
        }
      }
    }
  }
}